@import url(http://fonts.googleapis.com/css?family=Asul:700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* HTML5 Boilerplate ==|== normalize.css ========================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #000; color: #fff; text-shadow: none; }

::selection { background: #000; color: #fff; text-shadow: none; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: "courier new", monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

body { background-color: #fff; width: 100%; height: 100%; }
body.contribute { background-image: url("../img/marmor_bg.jpg"); background-size: 100%; background-repeat: repeat-y; background-attachment: fixed; }

h1, h2, h3 { margin: 0; padding: 0; text-align: center; color: #000; }

h1, h2 { font-family: Asul, Arial, sans-serif; font-weight: 700; }

h3 { font-family: Montserrat, Helvetica, Arial, sans-serif; font-weight: 700; }

p, a, span { font-family: Montserrat, Helvetica, Arial, sans-serif; font-weight: 700; font-size: 1.3em; font-weight: 600; text-transform: uppercase; color: #000; transition: color 0.15s ease; -moz-transition: color 0.15s ease; -o-transition: color 0.15s ease; -webkit-transition: color 0.15s ease; }

a, a:active, a:visited { cursor: pointer; text-decoration: none; color: #000; font-style: normal; }

a:hover { color: #6bc5db; }
a:hover span { color: #6bc5db; }

#artwork { position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; z-index: 0; overflow: hidden; }
#artwork img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%; min-height: 50%; }
#artwork .artist, #artwork .contribute { display: block; position: absolute; margin: 0; padding: 22px; bottom: 25%; font-size: 1em; }
#artwork .artist { left: 25%; text-align: left; }
#artwork .contribute { right: 25%; text-align: right; }

#logo { position: fixed; width: 100%; height: auto; top: 5%; z-index: 20; }
#logo h1 { letter-spacing: 0.1em; text-transform: uppercase; font-size: 2.2em; text-align: center; }

#container { width: 100%; position: absolute; background-color: #fff; top: 100%; margin: 0 0 0 0; padding: 0 0 100px 0; z-index: 5; border: 0; height: auto; overflow: hidden; -webkit-box-shadow: 0 0 140px rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 140px rgba(0, 0, 0, 0.65); -ms-box-shadow: 0 0 140px rgba(0, 0, 0, 0.65); box-shadow: 0 0 140px rgba(0, 0, 0, 0.65); }
#container #plakat { width: 100%; min-width: 100%; margin-top: 0; margin-left: auto; margin-right: auto; position: relative; display: block; margin-bottom: -35%; height: auto; z-index: 6; }
#container #plakat img { width: 100%; min-width: 100%; height: auto; z-index: 6; }
#container #plakat p { position: absolute; width: 20%; text-transform: uppercase; text-align: center; z-index: 7; }
#container #plakat p.it { top: 57.6%; left: -1%; }
#container #plakat p.de { top: 9%; right: 1.4%; }
#container #content { z-index: 7; position: relative; }
#container #content h2 { font-size: 71px; text-indent: -10px; text-transform: uppercase; }
#container #content h3 { font-weight: 400; font-size: 21px; letter-spacing: 0.2em; text-transform: uppercase; color: #6bc5db; }
#container #content .soon { margin-top: 12%; margin-left: 26.4%; width: 200px; display: block; text-align: center; margin-right: auto; margin-left: auto; }

#contribute { width: 100%; min-height: 100%; margin: 0; position: absolute; }
#contribute p.beschreibung { margin: 130px auto 50px auto; width: 80%; text-transform: none; line-height: 1.5em; font-weight: 200; text-align: justify; }
#contribute a { margin-left: auto; margin-right: auto; display: block; position: relative; width: 350px; text-align: center; }
#contribute a span { font-size: 1.8em; margin-right: 10px; }
#contribute a.back { margin-top: 130px; width: 100px; font-size: 1em; }

@media only screen and (max-width: 1024px) { p, a, span { font-size: 1.2em; }
  #logo h1 { font-size: 1.9em; }
  #container #content h2 { font-size: 53px; }
  #container #content h3 { font-size: 16px; } }
@media only screen and (max-width: 600px) { p, a, span { font-size: 0.9em; }
  #logo h1 { font-size: 1.3em; }
  #container { padding-bottom: 50px; }
  #container #content h2 { font-size: 28px; }
  #container #content h3 { font-size: 10px; letter-spacing: 0.1em; margin-top: 2px; } }
@media only screen and (min-width: 1280px) { p, a, span { font-size: 1.7em; }
  #logo h1 { font-size: 2.4em; }
  #container #content h2 { font-size: 97px; }
  #container #content h3 { font-size: 29px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) { * { -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */ } }
